@font-face {
    font-family: "Fredoka One";
    font-weight: 600;
    src: local("Fredoka One"), 
         url('fonts/Fredoka/fredoka.ttf');}

@font-face {
    font-family: "russo";
    font-weight: 600;
    src: local("russo"), 
         url('fonts/Russo_One/RussoOne-Regular.ttf');}
.pagename {
    font-family: "Fredoka One";
    font-weight: 600;
    font-size: 65px;
    color: #5551ff;
}
.boardmod {
    display: block;
    width: 307px;
    height: 357px; 
    background: #F8F8F8; 
    border-radius: 10px; 
    border: 1px #C9C9C9 solid;
    margin-top: 90px;
}
.button {
    
    margin-left: 9px;
    margin-top: 17px ;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    width: 289px;
    height: 65px;
    font-family: "Fredoka One";
    font-weight: 600;
    font-size: 50px;
    color: #5551ff;
    background: #f8f8f8;
}

.pop_up{
    background: #F8F8F8; 
    display: none;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    width: 1467px;
    height: 760px;
    margin-left: 419px;
    margin-top: -360px;
}
.pop_up1{
    background: #F8F8F8; 
    display: none;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    width: 1467px;
    height: 760px;
    margin-left: 419px;
    margin-top: -360px;
}
.pop_up2{
    background: #F8F8F8; 
    display: none;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    width: 1467px;
    height: 760px;
    margin-left: 419px;
    margin-top: -360px;
}
.pop_up3{
    background: #F8F8F8; 
    display: none;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    width: 1467px;
    height: 760px;
    margin-left: 419px;
    margin-top: -360px;
}
.pop_up.active{
    display: block;
    
}

.pop_up1.active{
    display: block;
}

.pop_up2.active{
    display: block;
}

.pop_up3.active{
    display: block;
}



.abtn {
    text-decoration: none;
    color: #5551ff;
    margin-left: 5px;
}

.cont11{
    margin-top: 20px;
    margin-left: 9px;
    background: #F8F8F8; 
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    width: 470px;
    height: 720px;
}

.cont12{
    margin-top: -722px;
    margin-left: 498px;
    background: #F8F8F8; 
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    width: 470px;
    height: 720px;
}

.cont13{
    margin-top: -722px;
    margin-left: 984px;
    background: #F8F8F8; 
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    width: 470px;
    height: 720px;
}

.h11{
    font-family: "Fredoka One";
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #5551ff;
}

.img11{
    margin-left: 35px;
}

.p11{
    font-family: "russo";
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: #5551ff;
    width: 399px;
    height: 275px;
    margin-left: 33px;
}
.a11{
    font-family: "Fredoka One";
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    margin-left: 60px;
    text-decoration: none;
}

.btnd1{
    width: 255px;
    height: 53px;
    background-color: #5551ff;
    border-radius: 50px;
    padding-top: 10px;
    margin-left: 108px;
    margin-top: -10px;
}
